.actions {
    width: 20vw;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.button {
    margin-bottom: 3vh;
    height: 8vh;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
}

.player-cards {
    border: 1px solid black;
    padding-bottom: 2vw;
    margin-bottom: 2vw;
    min-height: 34vh;
}

.logo {
    height: 10vh;
}

.player-text {
    font-size: 20px;
    font-weight: bold;
    width: 10vw;
    display: flex;
    align-items: center;
}

.card {
    height: 23vw;
    width: 16vw;
    margin-left: 2vw;
    border: 2px solid black;
    border-radius: 10px;
    display: none;
    background-color: rgb(0, 119, 255);
    padding: 1vw;
}

.number {
    height: 10%;
    width: 6vw;
    margin-top: 2.5vh;
    margin-left: 10%;
    font-size:60px;
    font-weight: bold;
    color: blue;
}

.dealt-cards {
    display: flex;
}

.cards-headline {
    margin-left: 2vw;
}

.player-points {
    display: flex;
    flex-direction: row;
    height: 10vh;
}

.points-value {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.points {
    width: 20vw;
}

.image {
    height: 200px;
    width: 100%;
    display: block;
    background-size: cover;
}

.controlls {
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
}

.card-section {
    width: 75vw;
}

.statistics {
    margin-left: 2vw;
    width: 15vw;
}

.result {
    height: 10vh;
    font-weight: bold;
    font-size: 20px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;    
}

.attribution {
    font-size: 20px;
    color: black;
    margin-top: 1vh;
    font-weight: bold;
}